/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.invalid-email {
  background-color: pink;
}

.valid-email {
  background-color: palegreen;
}

.input-section {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, 200px);
  align-items: center;
}

/* taken from https://stackoverflow.com/a/50175619 */
.input-section > label {
  display: flex;
  align-items: center;
}

.input-section + button {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

button + div {
  margin-top: 100px;
}
